<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>Posts</h1>
<div class="row">

<% @posts.each do |post| %>
    <div class="col-md-3">
      <div class="card post">
          <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.text %></p>

          <%# if can? :edit, Post %>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <%# end %>
        </div>
      </div>
    </div>
<% end %>
</div>
</div>